#sidebar .pro-sidebar {
  height: 100vh;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}

/* #sidebar .pro-sidebar .pro-menu-item {
  background-color: ##adadad;
} */

#sidebar .pro-sidebar .pro-menu-item .pro-sub-menu {
  background-color: #adadad;
}

#sidebar .pro-sidebar .react-slidedown .pro-inner-list-item {
  background-color: #000000;
}
